.navbar {
    width: 100vw;
    height: 10vh;
    min-height: 10vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: calc(10px + 0.5vw);

    display: none;
}

.navbar a {
    margin-right: 20px;
    padding: 25px;

    font-weight: 600;
    font-size: 20px;

    border: 3px black solid;
    color: black;
    cursor: pointer;
}

.navbar a:first-child {
    color: white;
    background-color: black;
}

.navbar a:hover {
    color: white;
    background-color: black;
}



@media only screen and (max-width: 600px) {
    
}